body {
    background-color: #1b1b1b;
    margin: 0;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

header {
    background-color: #010203;
    color: #FFF;
    padding: 10px 10px;
    padding-left: 30px;
    border-bottom-style: solid;
    border-color: #1b1b1b;
    font-size: 10px;
    display: flex;
    align-items: flex-start;
}

.shuffle-pic {
    width: 40px;
    height: 40px;
    padding: 4px 15px;
    margin: auto 0;
}

.container {
    display: flex;
    margin: 0px 20px;
    padding: 70px;
    justify-content: center;
    color: #FFF;
}

.input-box {
    background-color: rgba(255, 255, 255, 0.95);
    height: 22px;
    width: 40%;
    padding: 8px 0px 5px 20px;
    margin: auto 0px auto 480px;
    font-size: 18px;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    border-radius: 40px 0px 0px 40px;
    border-style: none;
}

.find-button {
    background-color: #cfcfcf;
    height: 35px;
    width: 5%;
    margin: auto 0;
    font-size: 30px;
    border-radius: 0px 40px 40px 0px;
    border-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}

.find-button:hover {
    cursor: pointer;
    background-color: #1ED760;
}

.search-pic {
    width: 20px;
    height: 20px;
}

.container h2:hover {
    color: #1ED760;
    cursor: pointer;
}

